* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #586f7c;
}

a:hover, 
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100%;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

/* --- left column --- */
.sidebar {
    background: #2f4550;
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: capitalize;
}
.brand-tagline {
    font-weight: 300;
    color: #b8dbd9;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid #586f7c;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover, 
.nav-item a:focus {
    border: 2px solid #b8dbd9;
    text-decoration: none;
}

/* --- right column --- */
.content-subhead {
    text-align: right;
    color: #2f4550;
    border-bottom: 1px solid #2f4550;
    padding: 0.4em 0;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* --- posts --- */
.content {
    background-color: #f4f4f9;
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

/* --- post header --- */
.post-title {
    font-size: 2em;
    color: #586f7c;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

/* --- post body --- */
.post-description {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: #000000;
    font-size: 16pt;
    line-height: 1.4em;
    text-align: justify;
}
.post-meta {
    color: #999;
    font-size: 14pt;
    margin: 0;
}

.post-section {
    font-size: 18pt;
    color: #586f7c;
    font-weight: bold;
}

.post-subsection {
    font-size: 16pt;
    color: #000000;
    font-weight: bold;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

/*  --- Footer ---  */
.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}